.spline-widget-overlay {
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.spline-widget-overlay>* {
  width: 100%;
  height: 100%;
}

.spline-widget-overlay :where(canvas, iframe, spline-viewer) {
  pointer-events: auto;
}